.addUser{
    width: max-content;
    height: max-content;
    padding: 15px;
    background-color: rgba(17, 25, 40, 0.362);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  
    form{
      display: flex;
      gap: 20px;
  
      input{
        padding: 6px 12px;
        border-radius: 10px;
        border: none;
        outline: none;
      }
  
      button{
        padding: 6px 12px;
        border-radius: 10px;
        background-color: #0099FF;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  
    .usser{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(255, 255, 255);
      padding: .4rem .7rem;
      border-radius: 1rem;
  
      .dettail{
        display: flex;
        align-items: center;
        gap: 20px;
  
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
  
      button{
        padding: 6px 10px;
        border-radius: 10px;
        background-color: #0099FF;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }